<!-- snippets/account-header -->

<div id="account-header" class="py-12 px-5 border border-black">
  <div class="w-full lg:w-10/12 mx-auto">
    <h2 class="font-couch text-2xl lg:text-3xl text-center mb-5" >Welcome Back, {{ customer.first_name }}!</h2>
    <p class="text-xl text-center">This is where you can edit your account details and view your order history.</p>
  </div>
</div>
