<!-- snippets/collection-filters -->

<div data-filter-wrapper class="px-3 relative flex flex-col md:flex-row md:items-center justify-between bg-white z-20 w-full border-t border-black">
  <div class="flex flex-row items-center justify-between">
    <ul class="js-filter-container flex">
      <li class="py-3 mr-3">
        <button type="button"
          name="button"
          data-target="filters"
          class="btn-transparent filter--trigger-btn uppercase text-sm js-trigger-filter-container">
          <span class="sr-only">Toggle Collection Filter Options</span>
          <span class="mr-2">Filter By</span>

          {% render 'icon', icon: 'plus', class: "w-2" %}
          {% render 'icon', icon: 'minus', class: "w-2 hidden" %}
        </button>

        {% render 'collection-filter-options', collection: collection %}
      </li>

      <li class="py-3">
        <button type="button"
          name="button"
          data-target="sort"
          class="btn-transparent filter--trigger-btn uppercase text-sm js-trigger-filter-container">
          <span class="sr-only">Toggle Collection Sort Options</span>
          <span class="mr-2">Sort By</span>

          {% render 'icon', icon: 'plus', class: "w-2" %}
          {% render 'icon', icon: 'minus', class: "w-2 hidden" %}
        </button>

        {% render 'collection-sort-options', collection: collection %}
      </li>
    </ul>

    <button type="button"
          name="button"
          data-target="filters"
          class="btn-transparent hidden lg:hidden js-trigger-filter-close-mobile js-trigger-filter-close px-3 py-4">
          
      <span class="sr-only">Close Collection Filter Options</span>
      {% render 'icon', icon: 'close', class: "w-2" %}
    </button>
  </div>
    


  <div class="flex flex-col-reverse md:items-end xl:items-center lg:flex-row md:py-2">
    <ul class="js-active-filter-container flex flex-wrap gap-x-2 md:justify-end md:max-w-xl"></ul>

    <div class="relative lg:ml-3 flex justify-between items-center hidden js-active-filter-title animate animate-fadeIn animate-faster gap-2">
      <div class="flex gap-2">
        <span class="text-base font-couch block">Filters</span>
        <span class="filter-count js-active-filter-count
                     w-5 h-5 rounded-full pb-1
                     bg-black text-white text-sm font-bold
                     flex items-center justify-center">0</span>
      </div>
      <button type="button" name="button" class="btn btn-small btn-secondary js-clear-filters">Clear Filters</button>
    </div>
  </div>
</div>
