<!-- snippets/grid-image-divider -->

<li class="col-span-2 border border-black h-full">
  {%
    render 'responsive-image'
    src: image.src,
    alt: image.alt,
    class: "w-full h-full object-cover"
  %}
</li>
