<!-- snippets/product-card-form -->

{% assign min = 65 %}
{% assign max = 80 %}
{% assign diff = max | minus: min %}
{% assign randomNumber = "now" | date: "%N" | modulo: diff | plus: min %}

{% assign product_form_id = "product-card--" | append: product.id | append: "--" | append: randomNumber %}
{% assign current_variant = product.selected_or_first_available_variant %}

{%
  form 'product',
  product,
  id: product_form_id,
  class: 'js-product-form',
  data-type: 'add-to-cart-form'
%}

  <input type="hidden" name="quantity" value="1">
  <input type="hidden" name="id" value="{{ current_variant.id }}">

  {%- comment %}
    {%
      render 'variant-select',
      product_form_id: product_form_id,
      product: product
    %}
  {% endcomment -%}

  <button {% if current_variant.requires_selling_plan %}
            type="button"
          {%- else -%}
            type="submit"
            name="submit"
          {% endif %}
          class="js-product-form-atc btn btn-secondary w-full xl:w-auto"
          {% unless current_variant.available %}disabled{% endunless %}>
    {% if current_variant.available %}
      Add to Cart
    {% else %}
      Sold Out
    {% endif %}
  </button>

  <script type="application/json" class="js-product-script">
    {{ product | json }}
  </script>
{% endform %}
