.no-scroll {
  height: 100%;
  overflow: hidden;
}

.text-ellipsis {
  text-overflow: ellipsis;
}

#MainContent {
  min-height: 50vh;
}

a.skip-main {
  left:-999px;
  position:absolute;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
  z-index:-999;
}

a.skip-main:focus, a.skip-main:active {
  color: #fff;
  background-color:#000;
  left: auto;
  top: auto;
  width: 30%;
  height: auto;
  overflow:auto;
  margin: 10px 35%;
  padding:5px;
  border-radius: 15px;
  border:4px solid yellow;
  text-align:center;
  font-size:1.2em;
  z-index:999;
}

.h-nav-screen {
  height: calc(100vh - 4.875rem);
}

.max-h-nav-screen {
  max-height: calc(100vh - 4.875rem);
}

.hide-scrollbars {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.hide-scrollbars::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}
