<!-- sections/account-forgot-password -->

<section class="w-full md:w-4/5 xl:w-2/3 mx-auto px-4 py-20">
    <div class="flex items-center mb-8 animate animate-fadeInUp">
        <h1 class="font-couch text-xl xs:text-2xl sm:text-4xl">Forgot Password</h1>

        <button class="btn-transparent btn-with-icon flex items-center ml-10 transition-all hover:text-blue text-base xs:text-lg sm:text-2xl whitespace-nowrap"
                data-section-nav="account-login"
                data-section-nav--href="/account/login"
                data-section-nav--wrapper="#template-account"
                data-replace-history="true">
            <span class="mr-2">or login</span>
            {% render 'icon', icon: 'arrow-right' %}
        </button>
    </div>

    {% form 'recover_customer_password' %}
        {%- if form.errors -%}
            <div class="mb-2.5">
                {{ form.errors | default_errors }}
            </div>

            <script type="text/javascript">
                document.addEventListener("DOMContentLoaded", function() {
                    document.querySelector('#forgot-email').focus()
                })
            </script>
        {%- endif -%}

        <div    class="flex flex-col md:flex-row gap-4 md:gap-6 animate animate-fadeInUp"
                data-delay="200">
            {% render 'floating-label',
                id: 'forgot-email',
                input_name: 'customer[email]',
                input_val: form.email,
                placeholder: 'you@example.com',
                label: 'Email' %}

            <button type="submit"
                    name="forgot"
                    class="btn btn-secondary btn-big w-full md:w-1/3"
                    data-delay="400">
                Submit
            </button>
        </div>
    {% endform %}
</section>
