<!-- sections/ajax-cart [aa] -->

{%- comment %}
	Uses JS. Refreshes automatically with the Shopify AJAX Section Rendering API.
{% endcomment -%}

<section class="slide-cart--container js-cart--container">
  <div class="js-cart--inner h-full flex flex-col">
    {%- if cart.item_count > 0 -%}
      {%- comment %}
      Cart Header, Items, Apps, Upsell, Footer
      ----------------
      {% endcomment -%}

      {% render 'cart-header' %}

      {%- if settings.cart_psa != blank -%}
        <div class="slide-cart--psa py-1 px-1 flex flex--all-center gold-text center bold sand-bg">{{ settings.cart_psa }}</div>
      {%- endif -%}

      <!-- Cart Items -->
      <div class="h-full overflow-scroll hide-scrollbars flex flex-col justify-between slide-cart--item-container">
        <ul class="js-slide-cart--items unlist my-0 relative z-10">
          {%- for item in cart.items -%}
            {% render 'cart-item', item: item %}
          {%- endfor -%}
        </ul>

        <div class="">
          {%- if settings.enable_cart_upsell -%}
            {% render 'cart-upsell' %}
          {%- endif -%}

          {%- if settings.enable_cart_notes -%}
            <div class="js-slide-cart--notes">
              {% render 'cart-notes' %}
            </div>
          {%- endif -%}
        </div>
      </div>

      {% render 'cart-footer' %}
    {%- else -%}
      {%- comment %}
      Empty Cart State: Header, Empty
      ----------------
      {% endcomment -%}

      {% render 'cart-header' %}
      {% render 'cart-empty' %}

    {%- endif -%}

  </div>
</section>

<div class="opacity-20 cursor-pointer bg-black fixed top-0 bottom-0 left-0 hidden h-screen w-screen z-40 js-cart--overlay"></div>


{% schema %}
{
  "name": "Slide Cart",
  "class": "relative",
  "settings": [
    {
      "type": "paragraph",
      "content": "Global settings can be found in Theme Settings > Cart"
    }
  ],
  "blocks": [
    {
      "type": "recommendation",
      "name": "Product Recommendation",
      "settings": [
        {
          "type": "header",
          "content": "Product Recomendations",
          "info": "Adding products in the blocks will pick and list an appropriate upsell recommendation!"
        },
        {
          "type": "product",
          "id": "product",
          "label": "Recommendation Product Picker"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Recommendation Text",
          "default": "Complete your ritual"
        }
      ]
    },
    {
      "type": "empty_button",
      "name": "Empty State: Button",
      "settings": [
        {
          "type": "header",
          "content": "Empty State Button",
          "info": "Displays a button link"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Button URL"
        }
      ]
    }
  ]
}
{% endschema %}
