<!-- sections/job-positions.liquid [ja] -->


<div id="BambooHR" class="">
    <script src="https://counterculture.bamboohr.com/js/jobs2.php" type="text/javascript"></script>
    <link href="https://counterculture.bamboohr.com/css/jobs-embed.css" rel="stylesheet">
</div>


{% schema %}
{
    "name": "Positions",
    "class": "section-job-positions"
}
{% endschema %}
