<!-- sections/main-page -->

<article class="mx-auto px-5 py-5 xl:py-10 w-full md:w-4/5 xl:w-1/2 rte">
  <h1 class="mt-5 mb-8 font-couch text-2xl md:text-4xl">{{ page.title }}</h1>

  {{ page.content }}
</article>
