<!-- sections/main-404 -->

{% capture image_classes %}
  {%- unless section.settings.s_image == blank -%}
    hidden md:block
  {%- endunless -%}
{% endcapture %}

{% capture s_image_classes %}
  block md:hidden
{% endcapture %}

<section class="grid">
  <div class="col-start-1 row-start-1">
    {%- unless section.settings.image == blank -%}
      {% render 'responsive-image',
         src: section.settings.image.src,
         alt: section.settings.image.alt,
         class: image_classes %}
    {%- endunless -%}

    {%- unless section.settings.s_image == blank -%}
      {% render 'responsive-image',
         src: section.settings.s_image.src,
         alt: section.settings.s_image.alt,
         class: s_image_classes %}
    {%- endunless -%}
  </div>
  <div class="w-10/12 mx-auto px-5 py-24 col-start-1 row-start-1 flex flex-col justify-center items-center">
    {%- unless section.settings.title == blank -%}
      {%
        render 'ct-heading',
        title: section.settings.title,
        tag: section.settings.tag,
        text_size_mobile: section.settings.text_size_mobile,
        text_size_desktop: section.settings.text_size_desktop,
        text_color: section.settings.text_color,
        font: section.settings.font,
        alignment: section.settings.alignment,
        weight: section.settings.weight,
        class: section.settings.title_classes
      %}
    {%- endunless -%}

    {%
      render 'ct-button',
      link_text: section.settings.link_text,
      link_url: section.settings.link_url,
      button_style: section.settings.button_style,
      class: section.settings.link_classes
    %}
  </div>
</section>

{% schema %}
{
  "name": "404",
  "settings": [
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Background Image"
    },
    {
      "type": "image_picker",
      "id": "s_image",
      "label": "Mobile: Background Image"
    },
    {
      "type": "header",
      "content": "Text Settings"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "Section Text"
    },
    {
      "type": "select",
      "id": "text_size_mobile",
      "label": "Text Size: Mobile",
      "default": "text-6xl",
      "options": [
        {
          "label": "6XL",
          "value": "text-6xl"
        },
        {
          "label": "5XL",
          "value": "text-5xl"
        },
        {
          "label": "4XL",
          "value": "text-4xl"
        },
        {
          "label": "3XL",
          "value": "text-3xl"
        },
        {
          "label": "2XL",
          "value": "text-2xl"
        },
        {
          "label": "XL",
          "value": "text-xl"
        },
        {
          "label": "LG",
          "value": "text-lg"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_size_desktop",
      "label": "Text Size: Desktop",
      "default": "lg:text-6xl",
      "options": [
        {
          "label": "6XL",
          "value": "lg:text-6xl"
        },
        {
          "label": "5XL",
          "value": "lg:text-5xl"
        },
        {
          "label": "4XL",
          "value": "lg:text-4xl"
        },
        {
          "label": "3XL",
          "value": "lg:text-3xl"
        },
        {
          "label": "2XL",
          "value": "lg:text-2xl"
        },
        {
          "label": "XL",
          "value": "lg:text-xl"
        },
        {
          "label": "LG",
          "value": "lg:text-lg"
        }
      ]
    },
    {
      "type": "select",
      "id": "tag",
      "label": "Heading Tag",
      "default": "h1",
      "options": [
        {
          "label": "H1",
          "value": "h1"
        },
        {
          "label": "H2",
          "value": "h2"
        },
        {
          "label": "H3",
          "value": "h3"
        },
        {
          "label": "H4",
          "value": "h4"
        },
        {
          "label": "H5",
          "value": "h5"
        },
        {
          "label": "H6",
          "value": "h6"
        }
      ]
    },
    {
      "type": "select",
      "id": "font",
      "label": "Title Font Family",
      "info": "Font selector between theme fonts: Freight Sans, Couch, Tenso",
      "default": "font-freight-sans",
      "options": [
        {
          "label": "Freight Sans",
          "value": "font-freight-sans"
        },
        {
          "label": "Couch",
          "value": "font-couch"
        },
        {
          "label": "Tenso",
          "value": "font-tenso"
        },
        {
          "label": "Gopher",
          "value": "font-gopher"
        }
      ]
    },
    {
      "type": "select",
      "id": "weight",
      "label": "Title Font Weight",
      "info": "Font Weight Selector",
      "default": "font-regular",
      "options": [
        {
          "label": "Light",
          "value": "font-light"
        },
        {
          "label": "Regular",
          "value": "font-regular"
        },
        {
          "label": "Semibold",
          "value": "font-semibold"
        },
        {
          "label": "Bold",
          "value": "font-bold"
        },
        {
          "label": "Black",
          "value": "font-black"
        }
      ]
    },
    {
      "type": "select",
      "id": "alignment",
      "label": "Title Text Alignment",
      "default": "text-center",
      "options": [
        {
          "label": "Left",
          "value": "text-left"
        },
        {
          "label": "Center",
          "value": "text-center"
        },
        {
          "label": "Right",
          "value": "text-right"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_color",
      "label": "Title Text Color",
      "default": "text-black",
      "options": [
        {
          "label": "Black",
          "value": "text-black"
        },
        {
          "label": "Blue",
          "value": "text-blue"
        },
        {
          "label": "White",
          "value": "text-white"
        },
        {
          "label": "Camel",
          "value": "text-camel"
        }
      ]
    },
    {
      "type": "text",
      "id": "title_classes",
      "label": "Additional Classes for the Title"
    },
    {
      "type": "header",
      "content": "Button Settings"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "Button Style",
      "default": "btn btn-secondary",
      "options": [
        {
          "label": "Button Primary",
          "value": "btn btn-primary"
        },
        {
          "label": "Button Secondary",
          "value": "btn btn-secondary"
        },
        {
          "label": "Button Tertiary",
          "value": "btn btn-tertiary"
        },
        {
          "label": "Button White",
          "value": "btn btn-white"
        },
        {
          "label": "Button Outline",
          "value": "btn btn-outline"
        },
        {
          "label": "Camel Underline",
          "value": "camel-underline"
        },
        {
          "label": "Blue Underline",
          "value": "blue-underline"
        }
      ]
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Link Text",
      "default": "Click me!"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "Link URL",
      "default": "/collections/all"
    },
    {
      "type": "text",
      "id": "link_classes",
      "label": "Additional Classes for the Button/Link"
    }
  ]
}
{% endschema %}
