<section class="bg-bluebell py-20 px-12 w-screen h-screen">

  <div class="lg:w-8/12 mx-auto">
    <div class="mb-5">
      <h1 class="font-couch text-3xl ">We'll be opening soon...</h1>
      <p class="text-lg">Enter the password to access our site</p>
    </div>

    {% form 'storefront_password' %}
      {{ form.errors | default_errors }}

      <label for="password">Store Password</label>

      <div class="flex flex-col">
        <input class="border border-black rounded-0 h-10" type="password" name="password" id="password" autofocus placeholder="C0UNT3RCULTUR3RULZ"/>
        <input class="btn btn-secondary mt-2.5 sign_up" name="commit" type="submit" value="submit" />
      </div>
    {% endform %}
  </div>
</section>
