<!-- templates/page.policy.liquid [ja] -->

<div class="px-8 py-10 border border-black">
    <h1 class="text-center font-couch text-black text-2xl lg:text-4xl animate animate-fadeInUp">
        {{ page.title }}
    </h1>
</div>

{% assign policy_title = page.title | handleize | replace: '-', '_' %}

<div class="
    mt-14 max-w-none
    px-5 sm:pl-32 lg:pl-56 sm:pr-20 lg:pr-36 pb-12 lg:pb-20
    prose prose-policy
    prose-h2:font-couch prose-h2:text-xl lg:prose-h2:text-3xl
    prose-h3:text-lg lg:prose-h3:text-xl prose-h3:font-medium prose-h3:uppercase
    prose-ol:p-0
    prose-li:p-0
    animate animate-fadeIn">
    {{ shop[policy_title] }}
</div>
