@layer components {
  .product--buy-panel {
    @apply px-5 py-5;
  }

  .product--image-container {
    max-width: 100vw;
    @apply relative;
  }

  .product--image-slider, .product--image-slide, .product--featured-image {
    height: 100vw;
    max-width: 100vw;
  }

  .product--image-container .slick-list {
    max-width: 100vw;
  }

  .product--image-container .slick-dots {
    @apply absolute bottom-5 left-1/2 flex w-fit justify-center bg-white p-2 rounded-2xl;
    transform: translateX(-50%);
  }

  @screen md {
    .product--image-slider, .product--image-slide {
      max-height: 75vw;
    }
  }

  @screen xl {
    .product--buy-panel {
      @apply px-12 py-16;
    }

    .product--image-container {
      @apply border-l border-r border-b border-black w-full h-nav-screen sticky top-[4.875rem] justify-start;
    }

    .product--image-container, .product--image-container img {
      max-height: calc(100vh - 4.875rem);
      max-width: 50vw;
    }

    .product--image-slider, .product--image-slide {
      max-height: none;
      @apply h-nav-screen;
    }

    .product--featured-image {
      height: auto;
      max-height: 50vw;
    }

    .product--image-container .slick-list {
      max-width: 50vw;
    }

    .product--image-container .slick-dots {
      @apply bottom-12;
    }
  }
}
